.jumbotron {
	background-color: yellow;
	color: black;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0;
	margin-top: 10px;
}

.card-hotel {
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.btn-collapse {
	width: 100%;
	margin-bottom: 10px;
}

.footer-oc-icon {
	padding-right: 5px;
	
}

.reserve-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}
.accordion {
	padding-bottom: 10px;
}